.row:after {
    content: "";
    display: block;
    clear: both;
}

/*.col-1,.col-2,.col-3*/
.col-1 {
    width: 8.33333333%;
}

.col-2 {
    float: left;
    width: 16.66666666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333333%;
}

.col-5 {
    width: 41.66666666%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333333%;
}

.col-8 {
    width: 66.66666666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333333%;
}

.col-11 {
    width: 91.66666666%;
}

.col-12 {
    width: 100%;
}

[class^="col-"], [class*=" col-"] {
    background-color: red;
    border: 1px solid #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 100px;
    float: left;
}
